## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.10.12

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [2]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [ ]:
type(lista_1)

list

In [ ]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [ ]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [ ]:
type(lista_2)

list

In [ ]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [ ]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [ ]:
type(lista_3)

list

In [ ]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [ ]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [ ]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [ ]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [ ]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [ ]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [ ]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [ ]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [ ]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [ ]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [ ]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [ ]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [ ]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [ ]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [ ]:
listas[0][1]

2

In [ ]:
a

[1, 2, 3]

In [ ]:
b = a[0]

In [ ]:
b

1

In [ ]:
list1 = listas[1]

In [ ]:
list1

[10, 15, 14]

In [ ]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

10

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

14

In [ ]:
list2 = listas[2]

In [ ]:
list2

[10.1, 8.7, 2.3]

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

10.1

#### Operações com Listas

In [ ]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [ ]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [ ]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [ ]:
a

1

In [ ]:
b = listas[1][2]

In [ ]:
b

14

In [ ]:
c = listas[0][2] + 10

In [ ]:
c

13

In [ ]:
d = 10

In [ ]:
d

10

In [ ]:
e = d * listas[2][0]

In [ ]:
e

101.0

#### Concatenando Listas

In [ ]:
lista_s1 = [34, 32, 56]

In [ ]:
lista_s1

[34, 32, 56]

In [ ]:
lista_s2 = [21, 90, 51]

In [ ]:
lista_s2

[21, 90, 51]

In [ ]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [ ]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [ ]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [ ]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [ ]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [ ]:
lista_s1.

![Listas](listas.jpg)

In [ ]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [ ]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [ ]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [ ]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [ ]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [ ]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [ ]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [ ]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [ ]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [ ]:
# Criando uma lista vazia
a = []

In [ ]:
print(a)

[]

In [ ]:
type(a)

list

In [ ]:
a.append(10)

In [ ]:
a

[10]

In [ ]:
a.append(50)

In [ ]:
a

[10, 50]

In [ ]:
old_list = [1,2,5,10]

In [ ]:
new_list = []

In [ ]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [ ]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair): 5
Digite um valor (-1 para sair): 6
Digite um valor (-1 para sair): 89
Digite um valor (-1 para sair): 1234
Digite um valor (-1 para sair): 3
Digite um valor (-1 para sair): -1
[5, 6, 89, 1234, 3]

In [ ]:
new_list

[1, 2, 5, 10]

In [ ]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [ ]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [ ]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.insert(2, 110)

In [ ]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
# Remove um item da lista
cidades.remove(110)

In [ ]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
# Reverte a lista
cidades.reverse()

In [ ]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [ ]:
x = [3, 4, 2, 1]

In [ ]:
x

[3, 4, 2, 1]

In [ ]:
# Ordena a lista
x.sort()

In [ ]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [5]:
# Imprimindo a tupla
tupla

NameError: name 'tupla' is not defined

In [4]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [6]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [8]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [9]:
tupla1

'Chocolate'

In [11]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [12]:
tupla1[0]

'Geografia'

In [13]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [14]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [15]:
tupla1.index('Elefantes')

2

In [16]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [17]:
# Deletando a tupla
del tupla1

In [18]:
tupla1

NameError: name 'tupla1' is not defined

In [20]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [21]:
t2

('A', 'B', 'C')

In [22]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [23]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [24]:
type(t2)

tuple

In [25]:
type(lista_t2)

list

In [26]:
lista_t2

['A', 'B', 'C']

In [28]:
lista_t2.append('D')

In [29]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [30]:
t2

('A', 'B', 'C', 'D', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [32]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [33]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [34]:
type(estudantes_dict)

dict

In [35]:
estudantes_dict["Pedro"]

24

In [37]:
estudantes_dict["Marcelo"] = 23

In [38]:
estudantes_dict["Marcelo"]

23

In [39]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [40]:
estudantes_dict.clear()

In [42]:
estudantes_dict

{}

In [43]:
del estudantes_dict

In [44]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [45]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [46]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [47]:
len(estudantes)

4

In [48]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [49]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [50]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [52]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [53]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [55]:
estudantes.update(estudantes2)

In [56]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [57]:
dic1 = {}

In [58]:
dic1

{}

In [59]:
dic1["chave_um"] = 2

In [60]:
print(dic1)

{'chave_um': 2}

In [61]:
dic1[10] = 5

In [63]:
dic1

{'chave_um': 2, 10: 5}

In [64]:
dic1[9.13] = "Python"

In [65]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [66]:
dic1["teste"] = 5

In [67]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [68]:
dict1 = {}

In [69]:
dict1

{}

In [71]:
dict1["teste"] = 10

In [72]:
dict1["key"] = "teste"

In [76]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [77]:
dict2 = {}

In [78]:
dict2["key1"] = "Data Science"

In [79]:
dict2["key2"] = 10

In [80]:
dict2["key3"] = 100

In [81]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [82]:
a = dict2["key1"]

In [83]:
b = dict2["key2"]

In [84]:
c = dict2["key3"]

In [85]:
a, b, c

('Data Science', 10, 100)

In [87]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [88]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [89]:
dict3['chave2']

[22, 453, 73.4]

In [90]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [91]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [92]:
var1

20

In [94]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [95]:
dict3

{'chave1': 1230,
 'chave2': [18, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [97]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [98]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [99]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [102]:
lista = []
for i in range (5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)

print ("lista inversa: ", lista [:: -1])

Digite o valor 1: 1
Digite o valor 2: 2
Digite o valor 3: 3
Digite o valor 4: 4
Digite o valor 5: 5
lista inversa:  [5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [103]:
lista = []
for i in range (5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)
maior = max(lista)
indice = lista.index(maior)

print(f"O maior valor é {maior} e seu índice é {indice}!")

Digite o valor 1: 1
Digite o valor 2: 2
Digite o valor 3: 3
Digite o valor 4: 4
Digite o valor 5: 5
O maior valor é 5 e seu índice é 4!

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [106]:
l1 = []
l2 = []
l3 = []
for i in range (5):
  n = int(input(f"Digite o valor {i+1}: "))
  l1.append(n)
for i in range (5):
  n = int(input(f"Digite o valor {i+1}: "))
  l2.append(n)
for i in range (5):
  l3.append(l1[i])
  l3.append(l2[i])
print('Lista1: ', l1)
print('Lista2: ', l2)
print('Lista3: ', l3)

Digite o valor 1: 1
Digite o valor 2: 2
Digite o valor 3: 3
Digite o valor 4: 4
Digite o valor 5: 5
Digite o valor 1: 11
Digite o valor 2: 22
Digite o valor 3: 33
Digite o valor 4: 44
Digite o valor 5: 55
Lista1:  [1, 2, 3, 4, 5]
Lista2:  [11, 22, 33, 44, 55]
Lista3:  [1, 11, 2, 22, 3, 33, 4, 44, 5, 55]

In [107]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

37

In [108]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (10):
    lado = randint(1, 6)
    print(lado, end=" ")

5 5 6 3 6 4 6 5 1 5

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [117]:
jogadas = []
for i in range (6000):
  lado = randint(1,6)
  jogadas.append(lado)

lado1= jogadas.count(1)
lado2= jogadas.count(2)
lado3= jogadas.count(3)
lado4= jogadas.count(4)
lado5= jogadas.count(5)
lado6= jogadas.count(6)

print(lado1, lado2, lado3, lado4, lado5, lado6)


#percentual
plado1 = (lado1/6000)*100
print(plado1)

plado2 = (lado2/6000)*100
print(plado2)

plado3 = (lado3/6000)*100
print(plado3)

1023 1015 981 968 953 1060
17.05
16.916666666666664
16.35

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [121]:
jogadas = [0,0,0,0,0,0,0,0,0,0,0,0]
percentual = [0,0,0,0,0,0,0,0,0,0,0,0]
for i in range (30000):
  dado1 = randint(1, 6)
  dado2 = randint(1, 6)
  soma = dado1 + dado2
  jogadas[soma] += 1

for i in range (2, 13):
  percentual[i] = (jogadas[i]/30000)*100

for i in range (2, 13):
  print(f"{i} - {jogadas[i]} - {percentual[i]:.2f}%")

IndexError: list index out of range

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [123]:
linha = []
matriz = []
for i in range (2):
  for j in range (2):
    x = int(input(f"Digite o valor ({i}, {j})"))
    linha.append(x)
  matriz.append(linha)
  linha = []

print(matriz)

Digite o valor (0, 0)2
Digite o valor (0, 1)5
Digite o valor (1, 0)3
Digite o valor (1, 1)4
[[2, 5], [3, 4]]

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercício para trabalhar com tuplas

In [124]:
lista = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)

t = tuple(lista)
print(lista)
print(t2)

Digite o valor 1: 1
Digite o valor 2: 2
Digite o valor 3: 3
Digite o valor 4: 4
Digite o valor 5: 5
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 5 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [131]:
d = {}
for i in range(5):
  nome = input(f"Digite o nome {i+1}: ")
  idade = int(input (f"Digite a idade {i+1}: "))
  d[nome] = idade
maior = 0
nome_maior = ''
for k, v in d.items():
  if v > maior:
    maior = v
    nome_maior = k

print(f"A pessoa com maior idade é {nome_maior} com {maior} anos!")

Digite o nome 1: A
Digite a idade 1: 12
Digite o nome 2: B
Digite a idade 2: 13
Digite o nome 3: C
Digite a idade 3: 23
Digite o nome 4: D
Digite a idade 4: 45
Digite o nome 5: E
Digite a idade 5: 32
A pessoa com maior idade é D com 45 anos!

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## FIM